

      // MODULE DES VARIABLES--------------------


      $nombreColonnes: 12;
      $grilleGouttiere: 1em;

      // LES COULEURS--------------------

      $couleurTitre: #b05a5a;
      $couleurPolice: #6b6b6b;
      $couleurGris: #a0a0a0;
      $couleurFooter: #191919;
      $couleurPoliceFooter: #999;
      $couleurFondPage: #2e2e2e;
      $BackgroundColorFooter: #111;
      $bckgroundColorFormContainer: #f4f4f4;


      //  BOITE--------------------------------------

      $largeurBoite: 900px;


    //  Les Fonts -----------------------------------

      $fontSecondary: "marketDeco";
