

  // Module des Fonts

@font-face {
  font-family: "marketDeco";
  src: url("../fonts/marketDeco.woff2") format("woff2"),
       url("../fonts/marketDeco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
